DJANGO_DEBUG=True
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

DATABASE_ENGINE=mysql.connector.django
DATABASE_NAME=rosterizer
DATABASE_USER=rosterizer
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=