DJANGO_DEBUG=True
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DATABASE_ENGINE=mysql.connector.django
DATABASE_NAME=rosterizer
DATABASE_USER=rosterizer
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=