{% extends 'base.html' %}

{% block title %}Generate Teams{% endblock %}

{% block extra_head %}
<script>
     $(document).ready( function () {
        $('#issues-table').DataTable(
           {
                paging: true
           }
        );
     } );
</script>
{% endblock %}

{% block content %}
<h1>Generate Teams</h1>
<a href="{% url 'session_list' %}" class="btn btn-secondary mb-3">Back to Session List</a>
<table id="issues-table" class="table table-striped">
    <thead>
        <tr>
            <th>Player Issue</th>
        </tr>
    </thead>
    <tbody>
        {% for player_issue in player_issues %}
        <tr>
            <td>{{ player_issue }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form id="generate-teams-form" action="{% url 'generate_teams' session.id %}" method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="use_play_with" id="use_play_with" checked>
            <label class="form-check-label" for="use_play_with">
                Use "Play With" data
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="full_play_with_adherence" id="full_play_with_adherence" checked>
            <label class="form-check-label" for="full_play_with_adherence">
                Full Play With Adherence
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="full_last_session_uniqueness" id="full_last_session_uniqueness" checked>
            <label class="form-check-label" for="full_last_session_uniqueness">
                Full Uniqueness from Last Session
            </label>
        </div>
    </div>
    <div class="mb-3">
        <label for="num_rosters" class="form-label">Number of rosters to generate:</label>
        <input type="number" class="form-control" style="max-width: 200px;" id="num_rosters" name="num_rosters" min="1" max="100" value="1">
    </div>
    <button type="submit" class="btn btn-primary">Generate Teams</button>
</form>
{% endblock %}
