{% extends 'base.html' %}

{% block title %}Session List{% endblock %}

{% block extra_head %}
<script>
     $(document).ready( function () {
        $('#session-table').DataTable(
           {
                paging: false
           }
        );
     } );
</script>
{% endblock %}

{% block content %}
<h1>Session List</h1>
<a href="{% url 'index' %}" class="btn btn-secondary mb-3">Back to Index</a>
<table id="session-table" class="table table-striped">
    <thead>
      <tr>
        <th>Year</th>
        <th>Session Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for session in sessions %}
        <tr>
          <td>{{ session.year }}</td>
          <td>{{ session.session_number }}</td>
          <td>
            <a href="{% url 'players_in_session' session.id %}">View Players</a> |
            <a href="{% url 'import_players' session.id %}">Import players</a> |
            <a href="{% url 'import_roster' session.id %}">Import roster</a> |
            <a href="{% url 'generate_teams_form' session.id %}">Generate Teams</a> |
            <a href="{% url 'team_list' session.id %}">View Teams</a> |
            <a href="{% url 'delete_session' session.id %}" onclick="return confirm('Are you sure you want to delete {{ session }}?')">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
