<!DOCTYPE html>
<html>
<head>
    <title>Session List</title>
</head>
<body>
    <h1>Session List</h1>
    <a href="{% url 'create_session' %}">Create Session</a> <!-- Added Create Session link -->
    <ul>
        {% for session in sessions %}
            <li>
                Year: {{ session.year }}, Session Number: {{ session.session_number }}
                <a href="{% url 'delete_session' session.id %}">Delete</a>
                <a href="{% url 'import_players' session.id %}">Import Players</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>